.icon img{
    width:25px;
    height:20px;
}

.center img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.font-title  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Arrial";
    font-size: larger;
    color: red;
    font-style: italic;
}

.font-color-seccion{
    color:blacks;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Arial Narrow";
    font-size: larger;
    font-style: oblique;

}

.font-sec {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Arial";
    font-size: x-small;
}

.bg-gray{
    background-color: grey;
}

.carousel-inner> .carousel-item> img {
    height: 200px;
    width: 50px; 
    
   }

  
   #static-scroll {
     
    position: fixed; 
    top: -1px; 
    width: 100%; 
    z-index: 5;
    transition: top 5s; 
  }
  
 /*
  #static-scroll img {
    z-index: 100;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #static-scroll img:hover {
    background-color: #ddd;
    color: black;

  }
*/

    
    .menu_bar {
    position:fixed;
    }

   #jus{
       position: absolute;
       z-index: 1;
       max-width: 100%;
       height: auto;
   }
